*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/java/ru/dm/myapps/clienvk/utils/
app/src/main/java/ru/dm/myapps/clienvk/test_methods
